<h1 class="title">Powiadomienia systemu 19115</h1>
<datepicker-range (dateRangeConfirmed)="reloadNotifications($event)"></datepicker-range>
<ngx-spinner bdOpacity=0.9
             bdColor="#0062cc"
             size="large"
             color="#fff"
             type="ball-atom"
             fullScreen="true">
  <p style="color: white"> Trwa ładowanie... </p>
</ngx-spinner>
<div class="container top-buffer">
  <notification-info *ngFor="let notification of notifications" [notification]="notification"></notification-info>
</div>


