﻿@page
@model OpenData.Web.Pages.ErrorModel
@{
    ViewData["Title"] = "Błąd";
}


<h1>Błąd</h1>
<h2>Wystąpił błąd podczas przetwarzania żądania.</h2>

@if (Model.ShowRequestId)
{
    <p>Identyfikator żądania: <strong>@Model.RequestId</strong></p>
}

<p>Przełącz aplikację na tryb deweloperski żeby uzyskać bardziej szczegółowe informację</p>