<div class="row justify-content-md-center">
  <div class="card bg-light mb-3" style="min-width: 18rem;">
    <div class="card-header"><strong>Zdarzenie:</strong></div>
    <div class="card-body">
      <div class="col-md">
        <div class=" row">
          <div class="col-xs">Kategoria: {{notification.category}}</div>
        </div>
        <div class=" row">
          <div class="col-xs">Typ: {{notification.notificationType}}</div>
        </div>
        <div class=" row">
          <div class="col-xs">Dzielnica: {{notification.district}}</div>
        </div>
      </div>
    </div>
  </div>
</div>



