<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-xs">
      <ngb-datepicker #dp (select)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden">
      </ngb-datepicker>

      <ng-template #t let-date let-focused="focused">
        <span class="custom-day"
              [class.focused]="focused"
              [class.range]="isRange(date)"
              [class.faded]="isHovered(date) || isInside(date)"
              (mouseenter)="hoveredDate = date"
              (mouseleave)="hoveredDate = null">
          {{ date.day }}
        </span>
      </ng-template>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-xs">
      <button [disabled]="!fromDate || !toDate" class="btn btn-primary btn-lg top-buffer" (click)="confirmDateRange()">ZAŁADUJ</button>
    </div>
  </div>
</div>
